<div class="w-full border-b p-2">
    <div class="w-full">
        <h3 class="text-lg text-gray-700 font-semibold">Daily Task</h3>
        <div class="flex text-gray-500 gap-3">
            <p class="flex items-center gap-1">
            <ng-icon name="matWork"></ng-icon>
            <span>Worker</span>
            </p>
            <p class="flex items-center gap-1">
                <ng-icon name="matError"></ng-icon>
                <span>Important</span>
            </p>
            <p class="flex items-center gap-1">
                <ng-icon name="matAssignment"></ng-icon>
                <span>11 Task</span>
            </p>
        </div>
    </div>
</div>