<div class="w-full h-fit flex-col flex gap-3">
    <app-dahsboardnavitem [url]="'Dashboard'" [icon]="'heroHome'" [text]="'Dashboard'"></app-dahsboardnavitem>
    <app-dahsboardnavitem [url]="'Dashboard/Inbox/tasks'" [icon]="'heroInbox'" [text]="'Inbox'"></app-dahsboardnavitem>
    <app-dahsboardnavitem [url]="'Dashboard/Track'" [icon]="'heroTruck'" [text]="'Track'"></app-dahsboardnavitem>
    <app-dahsboardnavitem *ngIf="isAdmin" [url]="'Dashboard/Teams/Employees'" [icon]="'heroUserGroup'" [text]="'Teams'"></app-dahsboardnavitem>
</div>