<ul class="flex gap-5 text-xl font-medium font-Roboto uppercase text-secondary">
    <li [class.active]="isActiveRoute('/')"  class="cursor-pointer">
        <a routerLink="/">Home</a>
    </li>
    <li [class.active]="isActiveRoute('/Solutions')" class="cursor-pointer">
        <a routerLink="/Solutions">Solutions</a>
    </li>
    <li [class.active]="isActiveRoute('/Company')" class="cursor-pointer">
        <a routerLink="/Company">Company</a>
    </li>
    <li [class.active]="isActiveRoute('/Contact')" class="cursor-pointer">
        <a routerLink="/Contact">Contact</a>
    </li>
</ul>
