<ul class="flex gap-12 text-base text-secondary">
    <li>
        <app-auth-logo></app-auth-logo>
    </li>
    <li [class.active]="isActiveRoute('/About')"  class="cursor-pointer">
        <a routerLink="/">Why smartwaste</a>
    </li>
    <li [class.active]="isActiveRoute('/Feature')" class="cursor-pointer">
        <a routerLink="/Solutions">Solutions</a>
    </li>
    <li [class.active]="isActiveRoute('/Solutions')" class="cursor-pointer">
        <a routerLink="/Solutions">About</a>
    </li>
    <li [class.active]="isActiveRoute('/Contact')" class="cursor-pointer">
        <a routerLink="/Contact">Contact</a>
    </li>
</ul>
