<div class="w-screen h-screen relative bg-gray-100">
    <div class="formholder flex w-2/3 h-[95%] bg-white top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4 absolute rounded-2xl">

        <div class="w-2/4 h-full p-20">
            <router-outlet></router-outlet>
        </div>    

        <div class="w-2/4 h-full bg-primary relative flex">
            <div class="w-full h-3/4 flex justify-center items-center">
                <div class="BigCircle h-96 w-96 rounded-full absolute"></div>
                <div class="SmallCircle h-72 w-72 rounded-full absolute"></div>
            </div>

           

        </div>

    </div>
</div>