<div class="w-full h-full flex gap-4">
    <app-row-type [color]="'blue'" [type]="TaskStatut.To_DO" [Icon]="'matPendingActionsOutline'"></app-row-type>
    <app-row-type [color]="'orange'" [type]="TaskStatut.In_Progress" [Icon]="'matWbSunnyOutline'"></app-row-type>
    <app-row-type [color]="'green'" [type]="TaskStatut.Completed" [Icon]="'matWbSunnyOutline'"></app-row-type>
    <app-row-type [color]="'red'" [type]="TaskStatut.Failed" [Icon]="'matWbSunnyOutline'"></app-row-type>
    <app-row-type [color]="'gray'" [type]="TaskStatut.Cancelled" [Icon]="'matWbSunnyOutline'"></app-row-type>
</div>