<div class="h-full w-full bg-white rounded-2xl p-3 border flex-col flex gap-3">
    <div class="flex items-center justify-between">
        <h3 class="text-base font-medium text-gray-700">{{type}} Rate</h3>
        <ng-icon class="text-xl cursor-pointer" routerLink="Inbox/tasks" name="matKeyboardArrowRight"></ng-icon>
    </div>
    <div class="flex flex-col gap-2">
         <p class="text-3xl font-bold">{{total}}</p>
         <p class="text-gray-400">total {{type}}   rate in the application</p>
    </div>
</div>