<div class="w-screen h-screen p-10  flex items-center justify-between">
<div class="w-2/4 flex flex-col gap-6">
    <h1 class="text-7xl w-full font-bold font-IBM text-primary">Revolutionizing Waste Management: Smarter , Greener Cleaner</h1>
    <p class="font-Roboto text-secondary ms-2 text-xl">Empowering communities with smart, efficient waste collection solutions. We simplify the process, ensuring cleaner cities and a greener future</p>
    <button class="uppercase w-2/12 bg-primary text-white p-3 font-IBM">Contact Us</button>
</div>
 <img src="./Car.png" alt="">
</div>