<div class="w-full h-fit flex-col flex gap-3 items-center text-2xl">
    <div class="relative">
        <div class="bg-red-600 absolute -top-2 -right-2 w-5 h-5 rounded-full text-xs flex justify-center items-center text-white">
            10
        </div>
        <ng-icon name="heroBellAlert" class="text-gray-400 cursor-pointer"></ng-icon>
    </div>

    <div class="cursor-pointer profile border-lightgreen border-2 profile w-8 h-8 rounded-full bg-gray-200" routerLink="/profile">

    </div>

    <div class="cursor-pointer flex justify-center items-center border-t pt-3 text-gray-400">
        <ng-icon name="heroArrowLeftStartOnRectangle"></ng-icon>
    </div>
    <ng-icon name="heroQuestionMarkCircle" class="text-gray-400"></ng-icon>
</div>