<div class="w-full h-full flex gap-4">
    <app-rowtypecomplaints [color]="'blue'" [type]="statut.PENDING" [Icon]="'matPendingActionsOutline'"></app-rowtypecomplaints>
    <app-rowtypecomplaints [color]="'blue'" [type]="statut.IN_PROGRESS" [Icon]="'matPendingActionsOutline'"></app-rowtypecomplaints>
    <app-rowtypecomplaints [color]="'blue'" [type]="statut.RESOLVED" [Icon]="'matPendingActionsOutline'"></app-rowtypecomplaints>
    <app-rowtypecomplaints [color]="'blue'" [type]="statut.CLOSED" [Icon]="'matPendingActionsOutline'"></app-rowtypecomplaints>
</div>
