<div class="w-screen font-Inter flex justify-evenly px-40 items-center">
   
   <div class="test-container relative w-fit h-[30vh] flex justify-center items-center">
      <div class="text-center absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
         <h3 class="font-bold text-5xl">0s</h3>
         <p class="mt-2 text-gray-600">Time to contact</p>
      </div>
      <div class="testing w-[80%] shadow-xl flex items-center px-20">
      </div>
   </div>

     <div class="between"></div>

     
     <div class="test-container relative w-fit h-[30vh] flex justify-center items-center">
      <div class="text-center absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
         <h3 class="font-bold text-5xl">1000+</h3>
         <p class="mt-2 text-gray-600">Time to contact</p>
      </div>
      <div class="testing w-[80%] shadow-xl flex items-center px-20">
      </div>
      </div>


  <div class="between"></div>

 
     
  <div class="test-container relative w-fit h-[30vh] flex justify-center items-center">
   <div class="text-center absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
      <h3 class="font-bold text-5xl">10+</h3>
      <p class="mt-2 text-gray-600">Cities</p>
   </div>
   <div class="testing w-[80%] px-20 shadow-xl flex items-center">
   </div>
</div>

<div class="between"></div>

<div class="test-container relative w-fit h-[30vh] flex justify-center items-center">
   <div class="text-center absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
      <h3 class="font-bold text-5xl">10+</h3>
      <p class="mt-2 text-gray-600">Cities</p>
   </div>
   <div class="testing w-[80%] px-20 shadow-xl flex items-center">
   </div>
</div>

   
</div>