<div class="register w-full h-full flex flex-col gap-7 font-Inter">
    <app-auth-logo></app-auth-logo>
    <app-reg-text></app-reg-text>
    <!-- <app-login-extern></app-login-extern> -->
    <!-- <div class="flex items-center gap-2 font-Inter h-1">
        <div class="h-[0.1rem] w-2/3 bg-gray-300"></div>
        <p class="text-sm w-fit text-gray-500">or</p>
        <div class="h-[0.1rem] w-2/3 bg-gray-300"></div>
    </div> -->
    <app-form-register></app-form-register>
    <p class="text-xs w-full flex justify-center gap-2">Already have an account? <span class="text-lightgreen cursor-pointer" routerLink="/auth/login">Log in</span></p>
</div>