:host {
    height: 100%;
}

.Logo {
    background: rgb(135,193,92);
    background: linear-gradient(180deg, rgba(135,193,92,1) 0%, rgba(125,167,96,1) 100%); 
    border: 3px solid white;
    cursor: pointer;
    transition: 1000ms ease;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}