<div class="w-full h-full flex flex-col gap-3 text-black bg-gray-100 rounded-lg p-2" *ngIf="userRole$ | async as role">
      <div class="w-full h-fit flex gap-2">
        <app-tasks-chart-second></app-tasks-chart-second>
        <app-tasks-chart-third *ngIf="role === 'ROLE_ADMIN'"></app-tasks-chart-third>
        <app-complaintchartsecond></app-complaintchartsecond>
        <app-users-chart [type]="'USER'"></app-users-chart>
        <app-users-chart [type]="'WORKER'"></app-users-chart>
      </div>
      <div class="w-full h-fit flex gap-2">
        <app-tasks-chart></app-tasks-chart>
        <app-complaintschart></app-complaintschart>
      </div>
  </div>
  