<div class="fixed right-0 top-0 h-full w-full bg-gray-600 bg-opacity-10 font-Inter" *ngIf="roots$ | async as root">
    <div class="absolute top-4 right-3 h-[95%] w-2/6 bg-white rounded-lg module">
       <div class="w-full p-2 py-4 border-b flex items-center">
            <ng-icon name="matClose" class="text-3xl cursor-pointer" (click)="closeModule()"></ng-icon>
       </div>
       <div class="w-full px-6 py-5 flex flex-col gap-6">
            
            <div class="py-4 flex flex-col gap-4">
               
                <div class="bg-gray-50 text-gray-700 w-full p-2">
                    <h4 class="text-gray-800">Task Description</h4>
                    <p class="w-full text-sm">{{root.description}}</p>
                </div>
            </div>
            
        </div>
    </div>
</div>