<div class="Login w-full h-full flex flex-col gap-7 font-Inter">
    <app-auth-logo></app-auth-logo>
    <app-log-text></app-log-text>
    <app-login-extern></app-login-extern>
    <div class="flex items-center gap-2 font-Inter h-1">
        <div class="h-[0.1rem] w-2/3 bg-gray-300"></div>
        <p class="text-sm w-full text-gray-500">or continue with email</p>
        <div class="h-[0.1rem] w-2/3 bg-gray-300"></div>
    </div>
    <app-form-login></app-form-login>
    <p class="text-xs w-full flex justify-center gap-2 mt-2">Don't have an account? <span class="text-lightgreen cursor-pointer" routerLink="/auth/register">Create an account</span></p>
</div>